footer
  background: url('../Images/header.jpg')
  background-size: cover
  width: 100vw

  .content_wrap
    display: block
    height: 60px
    padding: 50px 0
    text-align: center
    nav
      a
        font-size: 16px
        color: rgba(0, 0, 0, 0.7)
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 0.8px
        font-weight: 600
        font-family: $helvetica
        line-height: 2
        transition: all 200ms ease-in-out
        &:nth-child(n+2)
          margin-left: 50px
        &:hover
          color: rgba(255, 255, 255, 0.48)
    p.copyright
      margin: 0
      text-transform: uppercase
      font-size: 14px
      color: rgba(0, 0, 0, 0.6)
